<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Title" content="MySQL Node Express Communication App" />
	<meta name="Author" content="Rutgers Bootcamp" />
	<meta name="Description" content="Rutgers Bootcamp Full Stack Creative + Development" />
	<meta name="Keywords" content="Rutgers Bootcamp, interactive design, interactive development, design, art direction, mobile design, flash development, developer, designer, kiosk, installation, mobile app, ios, android, flash, web design, interactive, New Jersey, MySQL, Node.js, Express.js, Handlebars" />
    <meta name="Copyright" content="MIT" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link src="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="public/assets/css/style.css" />		
    <title>CommunicatorApp</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/handlers.js"></script>
</head>
<body>
    <!-- {{{ body }}} -->
    <div class="center"><span class="light">Communicator<span class="dark">App</span></div>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="lines line-1"></span>
            <span class="lines line-2"></span>
            <span class="lines line-3"></span>
        </label>
        
        <a href="#" class="menu-item blue"> <i class="fa fa-anchor"></i> </a>
        <a href="#" class="menu-item green"> <i class="fa fa-coffee"></i> </a>
        <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>
        <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
        <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>
        <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
    </nav>

    <!-- FOOTER -->
    <footer>
        <a href="https://github.com/gquinn1011">
            <img src="public/assets/images/fire_orange_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/amir-dwekat">
            <img src="public/assets/images/pink_magic_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/matthew-lorber">
            <img src="public/assets/images/orange_half_pepper.png" width="64px" height="64px">
        </a>

        <a href="https://github.com/darkcypher777">
            <img src="public/assets/images/red_devil_pepper.png" width="64px" height="64px">
        </a>
    </footer>

    </div>

    <!-- JAVASCRIPT TAGS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
</body>
</html>